body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  background-color: #f8f8f8;
}

/* رأس الصفحة */
header {
  background-color: #2ecc71;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* محتوى الصفحة */
main {
  padding: 40px;
  text-align: center;
}

main h1 {
  font-size: 32px;
  color: #333;
}

.subtitle {
  font-size: 18px;
  color: #777;
  margin-bottom: 40px;
}

/* البضائع */
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* تقليل المسافة بين المنتجات */
  justify-content: center;
  padding: 10px;
}

.product-card {
  background-color: white;
  padding: 15px;
  width: 250px; /* حجم موحد لكل منتج */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
}

.product-card img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}


.product-card:hover {
  transform: translateY(-5px);
}

.product-card h3 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.product-card p {
  color: #555;
  margin-bottom: 15px;
}

.product-card button {
  background-color: #27ae60;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.product-card button:hover {
  background-color: #1e8449;
}
#cart-total {
      margin-top: 30px;
      font-size: 20px;
      color: #27ae60;
      font-weight: bold;
    }
/* التذييل */
footer {
  text-align: center;
  padding: 20px;
  background-color: #2ecc71;
  color: white;
  margin-top: 50px;
}
.ads {
  margin: 30px auto;
  max-width: 1000px;
  text-align: center;
}

.ad-banner img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.ad-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.ad-row img {
  width: 48%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
